
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Fanwood+Text&display=swap');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: #FFEEDB;
}

html {
    font-size: 62.5;
    font-family: 'Coustard', serif;
}

header {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #BA3B46;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-family: 'Helvetica Neue', serif;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Helvetica Neue';
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}

img:hover {
    opacity: 0.8;
    transition: 250ms ease-in-out;
}

.shopList {
    width: 300px;
    list-style: none;
    margin: 20px;
    color: #2f4858;
}

.priceButton {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.basket {
    display: inline-block;
    border: none;
    background: none;
    color: #008ac9;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    transition: 250ms ease-in-out; 
    transform: 150ms ease;
}

.addToCart:hover,
.addToCart:focus-within {
    background-color: #BA3B46;
}

.addToCart {
    display: inline-block;
    border: none;
    padding: 10px 15px;
    margin: 20px 5px;
    text-decoration: none;
    background: none;
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: 250ms ease-in-out; 
    transform: 150ms ease;
    border-radius: 5px;
    background: #008ac9;
}

footer {
    text-align: center;
    font-size: 1rem;
    color: #666;
    padding-top: 20px;
    font-family: 'Helvetica Neue';
}

a {
    text-decoration: none;
    color: inherit;
}

aside {
    position: fixed;
    right: 30px;
    top: 20px;
    width: 150px;
    background-color: #edfbff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    border: 2px solid #008ac9;
    border-radius: 3px;
    color: #2f4858;
}

aside h2 {
    font-size: 1rem;
}

.sad {
    color: #BA3B46;
    font-size: 1.2rem;
}

.happy {
    color: #008ac9;
    font-size: 1.2rem;
}

.productContainer h3 {
    font-size: 0.8rem;
}

.productContainer img {
    width: 40%;
}

.remove {
    display: inline-block;
    border: none;
    margin-left: 15px;
    text-decoration: none;
    background: none;
    color: #BA3B46;
    font-size: 1.5rem;
    cursor: pointer;
}

.remove i {
    color: #BA3B46;
}

.counter {
    font-size: 1rem;
}

@media (max-width: 660px) {
    h1 {
        font-size: 5rem;
    }

    aside {
        position: fixed;
        right: 0;
        top: 20px;
        width: 100px;
        background-color: #edfbff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 5px;
        border: 2px solid #008ac9;
        border-radius: 3px;
        color: #2f4858;
    }

    .shopList {
        width: 250px;
    }

    .shopList h2, h3 {
        font-size: 1rem;
    }
        
}

@media (max-width: 472px) {
    h1 {
        margin-bottom: 20px;
    }
}
